{% extends "base_sidebar.html" %}
{% block content %}
    <div id="upcoming" class="container">
        <h3 class="s-title">
            <a href="#upcoming" class="anchor" aria-hidden="true">#</a>
            Upcoming
        </h3>
        <div class="docs-note">
            <div class="columns">
                <div class="column col-12 col-md-12" id="calendar-anker">
                    
                </div>
            </div>
        </div>
    </div>
    <div id="messages" class="container">
        <h3 class="s-title">
            <a href="#messages" class="anchor" aria-hidden="true">#</a>
            <span class="badge" data-badge="2">
                Messages
            </span>
        </h3>
        <div class="docs-note">
            <ul class="menu">
                <li class="divider" data-content="UNREAD">
                </li>
                <li class="menu-item">
                    <a href="#">
                        {% for ag in g.user.ags %}
                            <div class="menu-badge">
                                <label class="label label-primary">2</label>
                            </div>
                            <a href="/ag/{{ ag.name }}/messages">
                                {{ ag.display_name }}
                            </a>
                        {% endfor %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="invites" class="container">
        <h3 class="s-title">
            <a href="#invites" class="anchor" aria-hidden="true">#</a>
            Invites
        </h3>
        <div class="docs-note">
            No invites pending.
        </div>
    </div>

<script src="/static/js/jquery.min.js"></script>    
<script src="/static/js/cal.js"></script>
<script>




$.ajax({
        type: 'GET',
        url: "/api/v1/event/mine",
        data: {},
        dataType: "json",
        cache: false,
        beforeSend: function () {
            return true;
        }
    }).done(function (response) {
        let data = {
            "selection" : [],
            "selectable" : []
        }
        data.events = response;
        let config = {
            "large" : true,
            "select" : {
                "selectable" : false,
                "onlyFuture" : false,
                "onlyCertainDates" : false
            },
            "events" : {
                showDate: true,
                showDates: true
            }
        }
        configureCalendar('calendar-anker', config, data);
        generateCalendar('calendar-anker');
    }).fail(function (data) {
    });

</script>
{% endblock %}
