{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/pages/signup.js"></script>
{% endblock %}
{% block content %}
    <section class="hero hero-fill d-block">
        <div class="container grid-xs p-2" style="background: white">
            <div class="columns">
                <div class="column">
                    <div class="text-center my-2">
                        <h3>Login
                            <small class="label">Lab-Planer</small>
                        </h3>
                    </div>
                    <form id="logInForm" action="{{ url_for('auth.login') }}" method="post">
                        <div class="form-group">
                            <label class="form-label" for="login-email">E-Mail</label>
                            <input class="form-input" autocomplete="email" type="email" name="email" id="email"
                                   placeholder="E-Mail">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="login-password">Password</label>
                            <input class="form-input" autocomplete="password" type="password" name="password"
                                   id="password"
                                   placeholder="Password">
                        </div>
                        <div class="form-group float-right">
                            <a href="{{ url_for("auth.signup_get") }}">
                                <button type="button" role="link" class="btn btn-link">Create Account</button>
                            </a>
                            <button type="submit" id="login" class="btn active">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
