{% extends "base_sidebar.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
    {% if my_role == "MENTOR" %}
    <div class="modal modal-sm" id="modal-name">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" role="document">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Edit</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="form-name">
                        <input type="hidden" id="ag-id" name="ag_id" value="{{ ag.data.id }}">
                        <div class="form-group">
                            <label class="form-label" for="name">Displayname</label>
                            <input class="form-input" required autocomplete="displayname" type="text"
                                   name="displayname"
                                   id="displayname"
                                   maxlength="48"
                                   pattern="^([A-Za-z0-9]+([A-Za-z0-9_\s-]*[A-Za-z0-9]+)*){1,48}$"
                                   placeholder="Displayname">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-name" class="btn btn-primary">Save</button>
                <a href="#" class="btn btn-link" aria-label="Close">Close</a>
            </div>
        </div>
    </div>

    <div class="modal modal-sm" id="modal-description">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" role="document">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Edit</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="form-description">
                        <input type="hidden" id="ag-id" name="ag_id" value="{{ ag.data.id }}">
                        <div class="form-group">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-input" required maxlength="140" autocomplete="description"
                                      name="description" id="description" placeholder="Description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-description" class="btn btn-primary">Save</button>
                <a href="#" class="btn btn-link" aria-label="Close">Close</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container mt-2">
        <h1>{{ ag.data.display_name }}
            {% if my_role == "MENTOR" %}
                <a href="#modal-name" class="btn btn-link"><i class="icon icon-edit"></i></a>
            {% endif %}
                <a href="{{url_for('ag_api.leave_ag', ag_name = ag.data.name)}}" class="btn btn-link">
                    <i class="icon icon-cross"></i>
                </a>
        </h1>
        <p>Description: {{ ag.data.description }}
            {% if my_role == "MENTOR" %}
                <a href="#modal-description" id="edit-description" class="btn btn-link"><i class="icon icon-edit"></i></a>
            {% endif %}
        </p>
    </div>
    <div id="users" class="container">
        <h3 class="s-title">
            <a href="#users" class="anchor" aria-hidden="true">#</a>
            Users
            {% if my_role == "MENTOR" %}
            <a href="{{url_for('ag.ag_settings', ag_name=ag.data.name)}}" class="btn btn-link"><i class="icon icon-edit"></i></a>
            {% endif %}
        </h3>
        <div class="docs-note">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for user in ag.data.actual_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.ag_role }}</td>
                        <td>{{ user.ag_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="invited-users" class="container">
        <h3 class="s-title">
            <a href="#invited-users" class="anchor" aria-hidden="true">#</a>
            Invited users
            <a href="{{url_for('ag.invite_ag', ag_name=ag.data.name)}}" class="btn btn-link"><i class="icon icon-plus"></i></a>
        </h3>
        <div class="docs-note">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    {% if my_role == "MENTOR" %}
                        <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in ag.data.invited_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        {% if my_role == "MENTOR" %}
                            <td><a href="{{url_for('ag_api.cancell_invitation', ag_name=ag.data.name, user_id=user.id)}}"><i class="icon icon-cross"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if ag.data.invited_users|length == 0%}
                    <tr>
                        <td>No pending Invitations</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if my_role == "MENTOR" %}
    <div id="applied-users" class="container">
        <h3 class="s-title">
            <a href="#applied-users" class="anchor" aria-hidden="true">#</a>
            Applied users
        </h3>
        <div class="docs-note">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in ag.data.applied_users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td><a href="{{url_for('ag_api.reject_application', ag_name=ag.data.name, username=user.username)}}"><i class="icon icon-cross"></i></a></td>
                        <td><a href="{{url_for('ag_api.accept_application', ag_name=ag.data.name, username=user.username)}}"><i class="icon icon-check"></i></a></td>
                        
                    </tr>
                {% endfor %}
                {% if ag.data.applied_users|length == 0%}
                    <tr>
                        <td>No pending Applications</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    
    <div id="events" class="container">
        <h3 class="s-title">
            <a href="#events" class="anchor" aria-hidden="true">#</a>
            Events
            <a href="{{url_for('ag.create_event', ag_name=ag.data.name)}}" class="btn btn-link"><i class="icon icon-plus"></i></a>
        </h3>
        <div class="docs-note">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    {% if my_role == "MENTOR" %}
                    <th><!--  Empty on purpose --></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for event in ag.data.events %}
                    <tr>
                        <td>{{ event.display_name }}</td>
                        <td>{{ event.date }}</td>
                        {% if my_role == "MENTOR" %}
                         <a href="{{url_for('ag.edit_event', ag_name=ag.data.name, event_name=event.name)}}" id="edit{{event.display_name}}" class="btn btn-link"><i class="icon icon-edit"></i></a>                
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   
{% endblock %}
{% block scripts %}
    <script>
        changeValuesUrl = "{{url_for('ag_api.change_ag_values', ag_id='')}}";
    </script>
    <script src="/static/js/pages/ag/dashboard.js"></script>
{% endblock %}