{% extends "base_sidebar.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div class="modal modal-sm" id="modal-name">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" role="document">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Edit</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="form-name">
                        <input type="hidden" id="ag-id" name="ag_id" value="{{ ag.data.id }}">
                        <div class="form-group">
                            <label class="form-label" for="name">Displayname</label>
                            <input class="form-input" required autocomplete="displayname" type="text"
                                   name="displayname"
                                   id="displayname"
                                   maxlength="48"
                                   pattern="^([A-Za-z0-9]+([A-Za-z0-9_\s-]*[A-Za-z0-9]+)*){1,48}$"
                                   placeholder="Displayname">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-name" class="btn btn-primary">Save</button>
                <a href="#" class="btn btn-link" aria-label="Close">Close</a>
            </div>
        </div>
    </div>

    <div class="modal modal-sm" id="modal-description">
        <a href="#" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" role="document">
            <div class="modal-header">
                <a href="#" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Edit</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form id="form-description">
                        <input type="hidden" id="ag-id" name="ag_id" value="{{ ag.data.id }}">
                        <div class="form-group">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-input" required maxlength="140" autocomplete="description"
                                      name="description" id="description" placeholder="Description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit-description" class="btn btn-primary">Save</button>
                <a href="#" class="btn btn-link" aria-label="Close">Close</a>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <h1>{{ ag.data.display_name }}
            <a href="#modal-name" class="btn btn-link"><i class="icon icon-edit"></i></a>
        </h1>
        <p>Description: {{ ag.data.description }}
            <a href="#modal-description" id="edit-description" class="btn btn-link"><i class="icon icon-edit"></i></a>
        </p>
    </div>
    <div id="users" class="container">
        <h3 class="s-title">
            <a href="#users" class="anchor" aria-hidden="true">#</a>
            Users
            <a href="/ag/{{ ag.data.name }}/invite" class="btn btn-link"><i class="icon icon-plus"></i></a>
        </h3>
        <div class="docs-note">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in ag.data.users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.ag_role }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/pages/ag/dashboard.js"></script>
{% endblock %}