{% extends "base_sidebar.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/cal.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h4 class="s-subtitle">New Event</h4>
        <div class="docs-note">
            <form>
                <fieldset id="agAddFormFieldset">
                    <div class="form-group">
                        <label data-tooltip="Maximum 48 characters & 'A-z,0-9,-, ,_' & no '_, ,-' at the front or end"
                               class="form-label tooltip tooltip-top" for="name">Displayname*</label>
                        <input class="form-input" required autocomplete="displayname" type="text"
                               name="displayname"
                               id="displayname"
                               maxlength="48"
                               pattern="^([A-Za-z0-9]+([A-Za-z0-9_\s-]*[A-Za-z0-9]+)*){1,48}$"
                               placeholder="Displayname">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">Description*</label>
                        <textarea class="form-input" required maxlength="140" autocomplete="description"
                                  name="description" id="description" placeholder="Description"></textarea>
                    </div>
                    <p class="form-input-hint">All fields marked with an asterix (*) are required
                        fields.</p>
                </fieldset>
            </form>
            <div class="columns">
                <div id="calendar-anker" class="column col-4 col-md-12 col-mx-auto"></div>
            </div>
            <div class="form-group float-right">
                <button id="addag" type="submit" value="Enter" class="btn active">Create</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/pages/ag/event/add.js"></script>
{% endblock %}