.hero {
    padding: 8px;
}

.hero-fill {
    min-height: 100vh;
}

.nav-sidebar {
    margin: 12px 32px;
}

.flash {
    position: fixed;
    right: 4px;
    top: 4px;
    list-style: none;
    z-index: 1000;
}

.flash > li > .toast {
    display: block;
    min-width: 200px;
    z-index: 1000;
}