{% extends "base_sidebar.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <div id="calendars" class="container">
        <h4 class="s-subtitle">Personal Calendar</h4>
        <div class="columns">
            <div id="calendar-anker" class="column col-12">

            </div>
        </div>
      </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/cal.js"></script>
<script>
        configureCalendar('calendar-anker', {"select" : {"selectable" : false}, "large": true});
    generateCalendar('calendar-anker');
    </script>
{% endblock %}